.content-area{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    max-width: max-content;
    background-color: #dbd6d6;
    align-items: start;
}
.content-area .site-main{
    width: 80%;
    background-color: white;
    padding: 20px;
}

.post-categories {
    margin-bottom: 10px;
    font-weight: bold;
    color: gray;
    font-size: 20px;
}

.entry-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-area .content{
    font-size: 14px;
    text-align: start;
}

.entry-meta {
    color: #666;
    font-size: 14px;
    
}

.related_post{
    background-color: white;
    padding: 10px;
    width: 30%;
}

.related_post h2 {
    font-size: 20px;
    margin-top: 20px;
}

.related_post ul {
    list-style: none;
    padding: 0;
}

.related_post li {
    margin-bottom: 10px;
}

.related_post .thumbnail{
    width: 100%;
}

